<%= form_for(shout_out) do |f| %>
  <% if shout_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shout_out.errors.count, "error") %> prohibited this shout_out from being saved:</h2>

      <ul>
      <% shout_out.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :latitude%>
      <%= f.number_field :latitude, readonly: true, data: { geolocation: 'latitude' } %>
    </div>

    <div class="field">
      <%= f.label :longitude %>
      <%= f.number_field :longitude, readonly: true, data: { geolocation: 'longitude' } %>
    </div>

    <div class="field">
      <%= f.label :accuracy %>
      <%= f.number_field :accuracy, readonly: true, data: { geolocation: 'accuracy' } %>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :confirmed %>
      <%= f.check_box :confirmed %>
    </div>
  </fieldset>

  <fieldset>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
