<p id="notice"><%= notice %></p>

<h1>Shout Outs</h1>

<table data-layout="datatables">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Confirmed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shout_outs.each do |shout_out| %>
      <tr>
        <td><%= shout_out.comment %></td>
        <td><%= shout_out.confirmed %></td>
        <td><%= link_to 'Show', shout_out, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_shout_out_path(shout_out), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', shout_out, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shout Out', new_shout_out_path, class: 'btn btn-default' %>
