<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @shout_out.comment %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @shout_out.confirmed %>
</p>

<%= link_to 'Edit', edit_shout_out_path(@shout_out) %> |
<%= link_to 'Back', shout_outs_path %>
